*.db
*.db-shm
*.db-wal
*.ely
*.filters
*FileListAbsolute.txt
*.idb
*.ini
*.ilk
*.iobj
*.ipdb
*.ipch
*.log
*.ninja
*.obj
*.opendb
*.pdb
*.sqlite
*.suo
*.tlog
*.user

bin/Debug-Win32/
bin/Debug-x64/
Diagnostics/
.vs/